<div class="mt-4">
  <form method="POST" action="">
    <div class="mb-3">
      <label for="search-input" class="form-label">Input:</label>
      <input type="text" name="p" class="form-control" id="search-input">
      <input type="text" name="q" class="form-control" id="search-input">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>